<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DevLoggingEnabled</key>
    <true/>
    <key>CFBundleName</key>
    <string>MacSSH Terminal</string>
    <key>CFBundleDisplayName</key>
    <string>MacSSH Terminal</string>
    <key>CFBundleIdentifier</key>
    <string>solvetronix.macssh</string>
    	<key>CFBundleVersion</key>
	<string>214</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.34</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Dmitry Borisenko</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    
    <!-- Sparkle Framework Configuration -->
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Solvetronix/MacSSH/main/appcast.xml</string>
    
    <key>SUEnableAutomaticChecks</key>
    <true/>
    
    <key>SUEnableAutomaticDownloads</key>
    <true/>
    
    <key>SUCheckInterval</key>
    <integer>86400</integer>
    
    <key>SUEnableSystemProfiling</key>
    <false/>
    
    <key>SUEnableLogging</key>
    <true/>
    
    <!-- Additional Sparkle settings to fix update button issue -->
    <key>SUEnableRelaunching</key>
    <true/>
    
    <key>SUEnableAutomaticUpdating</key>
    <true/>
    
    <key>SUEnableInstallerLauncherService</key>
    <true/>
</dict>
</plist> 